.notification-bar {
  position: absolute;
  right: 0;
  top: 130px;
  background-color: #F0EDD4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 300px;
  max-height: 55vh;
  overflow-y: auto;
  border-radius: 5px;
  color: black;
}